<nav class="sideNav">
    <div class="sideNav__tabs" id="sideNavTabs">
        <span class="sideNav__tab sideNav__tab--active" data-tab="0">Indice</span>
        <span class="sideNav__tab" data-tab="1">Versiones</span>
    </div>
    <div class="sideNav__sections">
        <ul class="sideNav__index">
            <h3 class="sideNav__index-title" contenteditable="">Titulo del plan</h3>
            <li class="sideNav__index-item">
                <a href="#section1">Datos informativos</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section2">Saberes profesionales</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section3">Objetivos</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section4">Perfil profesional</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section5">Unidades temáticas</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section6">Propuesta educativa</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section7">Productos académicos</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section8">Sistema de evaluación</a>
            </li> 
            <li class="sideNav__index-item">
                <a href="#section9">Referencias</a>
            </li>
            <li class="sideNav__index-item">
                <a href="#section10">Responsables</a>
            </li>
        </ul>
        <ul class="sideNav__versions"></ul>
    </div>
</nav>