body {
    font-family: 'Inter';
}

.app {
    height: 100dvh;
    overflow: hidden;
}

.app__background {
    background-color: var(--darkblue-300);
    height: 50%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.header {
    padding: 20px;
    display: flex;
}


