@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

    body {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        @apply bg-light-blue
    }


    .line {
        outline: 1px solid red;
    }

    * {
        /* outline: 1px solid red; */
    }
}
